* { box-sizing: border-box; moz-box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  color: #4A4A4A;
  margin: 0;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-weight: 300;
  margin-top: 0;
}

a {
  text-decoration: none;
}

p a {
  color: #4A90E2;
}

p a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.wrapper {
  padding: 2em 1em;
  max-width: 1060px;
  margin: auto;
}

@media (min-width: 30em) {
  h2 {
    font-size: 1.9em;
  }

  p {
    font-size: 1.1em;
  }

  .wrapper {
    padding: 4em;
  }
}

/*--------------*/
/*-- Response --*/
/*--------------*/

.alert.success,
.alert.error {
  text-align: center;
  padding: 1em;
  margin-bottom: .1em;
  font-weight: bold;
  letter-spacing: .1em;
}

.alert.success {
  background-color: green;
  color: white;
}

.alert.error {
  background-color: orange;
  color: black;
}

/*--------------*/
/*--- Header ---*/
/*--------------*/

.slack-button {
  font-size: 1.1em;
  background: white;
  border-radius: 5px;
  padding: .6em .7em;
  font-weight: 400;
  display: inline-block;
  margin-top: .5em;
  border: 1px solid #000;
}

a.slack-button  {
  color: #4A4A4A;
}

a.slack-button:hover {
  background: #eae9e9;
}

.slack-button img {
  width: 25px;
  vertical-align: top;
  margin-right: .4em;
}


/*--------------*/
/*--- Footer ---*/
/*--------------*/

footer {
  border: solid transparent;
  border-width: 0 0 10px 0;
  -webkit-border-image: url(https://static.bocoup.com/assets/img/rainbow-header.svg.gz) 4 1 4 1 stretch;
  -moz-border-image: url(https://static.bocoup.com/assets/img/rainbow-header.svg.gz) 4 1 4 1 stretch;
  -o-border-image: url(https://static.bocoup.com/assets/img/rainbow-header.svg.gz) 4 1 4 1 stretch;
  border-image: url(https://static.bocoup.com/assets/img/rainbow-header.svg.gz) 4 1 4 1 stretch;
}

@media (min-width: 52em) {

  footer .wrapper {
    padding: 3em 4em;
  }

  .bocoup-logo {
    float: left;
    margin: .5em 2em 0 0;
  }

 }
